JWT_SECRET=

POSTGRES_URL=postgres://user:password@127.0.0.1:5432/dbname
REDIS_URL=redis://user:password@127.0.0.1:6379

HTTP_LISTEN=0.0.0.0:8080

# Optional Admin Username
ADMIN_USERNAME=

# Optional Argon2 Hash
ADMIN_PASSWORD_HASH=
